.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: rgb(92, 92, 92);
}

.row {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

app-card {
  width: 200px;
}
